{
  "openapi": "3.0.3",
  "info": {
    "title": "Youverify Quick Check API",
    "version": "2.0.0",
    "description": "All Quick Check endpoints (KYC identity verification by country, KYB business verification by country, and AML/watchlist screening). Assembled from doc.youverify.co/api-reference-sdk/api-reference/quick-check, endpoints kept in the exact order they appear in the GitBook navigation. Some endpoints (address-verification \"create a candidate\" / \"get states\" / \"retrieve\" / \"history\") are documented twice in the source docs — once for individuals under KYC, once for businesses under KYB — and are the exact same request/response shape. They appear ONCE here (at their first, KYC, position) tagged with both sections so the file stays valid OpenAPI.\n\nAccount-wide error responses (401, 429, 500 on every endpoint; 402 on paid verification calls; 404 on lookup-by-ID calls) are sourced verbatim from Youverify's own \"Youverify OS Error Codes\" and \"Response Codes\" pages (doc.youverify.co/youverify-os-error-codes, /get-started/response-codes) and attached via components.responses, since those pages document them account-wide rather than per endpoint. Any error example that a specific endpoint's own page actually showed is kept exactly as documented there instead of being replaced by these.",
    "contact": {
      "name": "Youverify Support",
      "email": "support@youverify.co"
    }
  },
  "servers": [
    {
      "url": "https://api.youverify.co",
      "description": "Production (live, billed)"
    },
    {
      "url": "https://api.sandbox.youverify.co",
      "description": "Sandbox (test data, not billed)"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "KYC - Global",
      "description": "Identity data-matching endpoints that work across countries."
    },
    {
      "name": "KYC - South Africa",
      "description": "South Africa-specific identity, phone and bank verification."
    },
    {
      "name": "KYC - Kenya",
      "description": "Kenya-specific identity, phone, bank, credit and employment verification."
    },
    {
      "name": "KYC - Ghana",
      "description": "Ghana-specific identity verification (passport, SSNIT, voter's card)."
    },
    {
      "name": "KYC - Nigeria",
      "description": "Nigeria-specific identity, phone, bank and credit verification (BVN, NIN, etc)."
    },
    {
      "name": "KYC - Cote D'Ivoire",
      "description": "Cote D'Ivoire-specific national ID and residence card verification."
    },
    {
      "name": "KYC - General",
      "description": "Identity retrieval, history and facial comparison, not tied to one country."
    },
    {
      "name": "KYC - Address Verification (Individuals)",
      "description": "Physical and digital address verification workflows for individuals. Note: these same endpoints are also documented under KYB for businesses — see merge notes."
    },
    {
      "name": "KYB - Global",
      "description": "Business search, bulk-upload and premium company-search endpoints not tied to one country."
    },
    {
      "name": "KYB - Nigeria",
      "description": "Nigeria-specific business address verification and tax ID checks."
    },
    {
      "name": "KYB - South Africa",
      "description": "South Africa-specific business account and address verification."
    },
    {
      "name": "KYB - Cote D'Ivoire",
      "description": "Cote D'Ivoire-specific company filings lookup."
    },
    {
      "name": "AML Screening",
      "description": "PEP, sanctions, adverse-media and crypto AML screening."
    },
    {
      "name": "AML Watchlist",
      "description": "Manage your own custom AML watchlist."
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "token",
        "description": "Your Youverify API secret key. Never expose client-side."
      }
    },
    "responses": {
      "Error401Unauthorized": {
        "description": "Unauthorized — the token header is missing or invalid.",
        "content": {
          "application/json": {
            "example": {
              "success": false,
              "statusCode": 401,
              "message": "Permission denied",
              "name": "UnauthorizedError",
              "data": {}
            }
          }
        }
      },
      "Error402PaymentRequired": {
        "description": "Payment Required — your account balance is too low to run this check.",
        "content": {
          "application/json": {
            "example": {
              "success": false,
              "statusCode": 402,
              "message": "Insufficient fund",
              "name": "PaymentRequiredError",
              "data": {}
            }
          }
        }
      },
      "Error404NotFound": {
        "description": "Not Found — the URL, or the resource ID in the URL, was not recognized.",
        "content": {
          "application/json": {
            "example": {
              "success": false,
              "statusCode": 404,
              "message": "Not found",
              "name": "ResourceNotFoundError",
              "data": {}
            }
          }
        }
      },
      "Error429TooManyRequests": {
        "description": "Too Many Requests — you have exceeded the rate limit; wait and retry.",
        "content": {
          "application/json": {
            "example": {
              "success": false,
              "statusCode": 429,
              "message": "Too many requests",
              "name": "RateLimitError",
              "data": {}
            }
          }
        }
      },
      "Error500ServerError": {
        "description": "Internal Server Error — a rare, unexpected failure on Youverify's side. Contact support@youverify.co if it persists.",
        "content": {
          "application/json": {
            "example": {
              "success": false,
              "statusCode": 500,
              "message": "Internal Server Error",
              "name": "Error",
              "data": {}
            }
          }
        }
      },
      "Error503ServiceUnavailable": {
        "description": "Service Unavailable — the upstream third-party data provider is currently unreachable.",
        "content": {
          "application/json": {
            "example": {
              "success": false,
              "statusCode": 503,
              "message": "Third-party provider not reacheable",
              "name": "Error",
              "data": {}
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v2/api/identity/global/validate": {
      "post": {
        "tags": [
          "KYC - Global"
        ],
        "summary": "Global ID Validation",
        "description": "Validates government-issued IDs and personal identifiable information (PII) globally by comparing user-provided data against government, authoritative, and commercial data sources.",
        "operationId": "validateGlobalIdentity",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API secret token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Candidate's National ID (required for specific countries)"
                  },
                  "isSubjectConsent": {
                    "type": "boolean",
                    "description": "Indicate that subject has given consent. Must be true"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Last name to compare against the ID and/or credit file"
                  },
                  "firstName": {
                    "type": "string",
                    "description": "First name to compare against an ID and/or credit file"
                  },
                  "dateOfBirth": {
                    "type": "string",
                    "description": "Date of Birth to compare against ID and/or credit file"
                  },
                  "fullName": {
                    "type": "string",
                    "description": "Full name of the candidate to compare against the ID and/or credit file"
                  },
                  "mobile": {
                    "type": "string",
                    "description": "Phone Number to compare against the ID and/or credit file"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email to compare against the ID and/or credit file"
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "Two-letter country code that complies with ISO 3166-1 alpha-2"
                  },
                  "advanced": {
                    "type": "boolean",
                    "description": "Perform an Advanced Search (not available in certain countries)"
                  },
                  "addressDetails": {
                    "type": "object",
                    "description": "Address details object for address matching",
                    "properties": {
                      "addressLine1": {
                        "type": "string",
                        "description": "Address line for comparison"
                      },
                      "addressLine2": {
                        "type": "string",
                        "description": "Address line for comparison"
                      },
                      "houseNumber": {
                        "type": "string",
                        "description": "House number to compare against the ID and/or credit file"
                      },
                      "street": {
                        "type": "string",
                        "description": "Street name to compare against an ID and/or credit file"
                      },
                      "city": {
                        "type": "string",
                        "description": "City name to compare against the ID and/or credit file"
                      },
                      "postalCode": {
                        "type": "string",
                        "description": "Postal code to compare against the ID and/or credit file"
                      },
                      "state": {
                        "type": "string",
                        "description": "State name to compare against the ID and/or credit file"
                      },
                      "countryCode": {
                        "type": "string",
                        "description": "Two-letter country code of the address"
                      }
                    }
                  }
                },
                "required": [
                  "isSubjectConsent",
                  "countryCode"
                ]
              },
              "example": {
                "addressDetails": {
                  "addressLine1": "19 CASUARINA",
                  "addressLine2": "",
                  "houseNumber": "19",
                  "street": "CASUARINA",
                  "city": "KILMORE",
                  "postalCode": "3764",
                  "state": "",
                  "countryCode": "AU"
                },
                "fullName": "TOM CLARKE",
                "firstName": "TOM",
                "lastName": "CLARKE",
                "id": "12345678",
                "countryCode": "AU",
                "dateOfBirth": "1800-01-01",
                "mobile": "",
                "email": "",
                "advanced": true,
                "isSubjectConsent": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "success",
                  "data": {
                    "id": "6525026f085d5ae6ac556b6f",
                    "fullName": "TOM CLARKE",
                    "firstName": "TOM",
                    "lastName": "CLARKE",
                    "dateOfBirth": "1800-01-01",
                    "mobile": "",
                    "email": "",
                    "addressDetails": {
                      "addressLine1": "19 CASUARINA",
                      "addressLine2": "",
                      "houseNumber": "19",
                      "street": "CASUARINA",
                      "city": "KILMORE",
                      "postalCode": "3764",
                      "state": "",
                      "countryCode": "AU"
                    },
                    "validationDetails": {
                      "fullName": {
                        "status": "partial_matched",
                        "value": "TOM CLARKE",
                        "validationMessage": "Partial match made on Complete Name"
                      },
                      "lastName": {
                        "status": "full_matched",
                        "value": "CLARKE",
                        "validationMessage": "Full match made on Last Name/Surname"
                      },
                      "address": {
                        "status": "partial_matched",
                        "value": "19 CASUARINA",
                        "validationMessage": "Partial match made on Address Elements provided in Address Lines"
                      },
                      "city": {
                        "status": "full_matched",
                        "value": "KILMORE",
                        "validationMessage": "Full match made on City/Locality"
                      },
                      "postalCode": {
                        "status": "full_matched",
                        "value": "3764",
                        "validationMessage": "Full match made on Postal Code/Zip Code"
                      },
                      "state": {
                        "status": "full_matched",
                        "value": "",
                        "validationMessage": "Full match made on State/Province"
                      },
                      "firstName": {
                        "status": "not_matched",
                        "value": "TOM",
                        "validationMessage": "No match made on First Name/Given Name"
                      },
                      "houseNumber": {
                        "status": "not_matched",
                        "value": "19",
                        "validationMessage": "No match made on House Number/Street Number"
                      },
                      "street": {
                        "status": "not_matched",
                        "value": "CASUARINA",
                        "validationMessage": "No match made on Street/Thoroughfare"
                      },
                      "dateOfBirth": {
                        "status": "not_matched",
                        "value": "1800-01-01",
                        "validationMessage": "No match made on Date of Birth"
                      },
                      "dayOfBirth": {
                        "status": "not_matched",
                        "value": "01",
                        "validationMessage": "No match made on Day of Birth"
                      },
                      "monthOfBirth": {
                        "status": "not_matched",
                        "value": "01",
                        "validationMessage": "No match made on Month of Birth"
                      },
                      "yearOfBirth": {
                        "status": "not_matched",
                        "value": "1800",
                        "validationMessage": "No match made on Year of Birth"
                      },
                      "percentage": {
                        "percentageFullyMatched": 36,
                        "percentageNotMatched": 40,
                        "percentagePartialMatched": 24
                      }
                    },
                    "addressReliability": {
                      "reliability": "10",
                      "adaptation": "30"
                    },
                    "identityReliability": {
                      "reliability": "30",
                      "adaptation": "0"
                    },
                    "overallReliability": {
                      "reliability": "30",
                      "adaptation": "30"
                    },
                    "parentId": null,
                    "status": "found",
                    "reason": null,
                    "dataValidation": true,
                    "isConsent": true,
                    "idNumber": "12345678",
                    "businessId": "62b2e8b281442b03187f7896",
                    "type": "globalIdentityValidation",
                    "requestedAt": "2023-10-10T07:51:12.278Z",
                    "requestedById": "62b2e8b381442b75857f7898",
                    "country": "Global",
                    "createdAt": "2023-10-10T07:51:12.487Z",
                    "lastModifiedAt": "2023-10-10T07:51:12.487Z",
                    "adverseMediaReport": null,
                    "metadata": {},
                    "requestedBy": {
                      "firstName": "API",
                      "lastName": "user",
                      "middleName": "",
                      "id": "62b2e8b381442b25857f788"
                    }
                  },
                  "links": []
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "message": "You have attempted to get a resource that does not exist.",
                  "name": "ResourceNotFoundError",
                  "data": {}
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/Error429TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/Error500ServerError"
          },
          "402": {
            "$ref": "#/components/responses/Error402PaymentRequired"
          }
        }
      }
    },
    "/v2/api/identity/za/said": {
      "post": {
        "tags": [
          "KYC - South Africa"
        ],
        "summary": "Verify South African ID Number (SAID)",
        "description": "Verifies a provided South African ID number exists in the database and validates personal details against it.",
        "operationId": "verifySAIDSouthAfrica",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API secret token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "User's SAID Number"
                  },
                  "isSubjectConsent": {
                    "type": "boolean",
                    "description": "Indicate subject has given consent. Must be true"
                  },
                  "validations": {
                    "type": "object",
                    "description": "Validation object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "description": "Validation data object",
                        "properties": {
                          "lastName": {
                            "type": "string",
                            "description": "Last name to compare against ID"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "First name to compare against ID"
                          },
                          "middleName": {
                            "type": "string",
                            "description": "Middle name to compare against the ID"
                          },
                          "email": {
                            "type": "string",
                            "description": "Email address to compare against ID"
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "Phone number to compare against the ID"
                          }
                        }
                      }
                    }
                  }
                },
                "required": [
                  "id",
                  "isSubjectConsent"
                ]
              },
              "example": {
                "id": "8012185201081",
                "isSubjectConsent": true,
                "validations": {
                  "data": {
                    "lastName": "PILLAY",
                    "firstName": "LAVEN"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "success",
                  "data": {
                    "id": "645bc7be395ca804e57a78ec",
                    "validations": {
                      "data": {
                        "lastName": {
                          "validated": true,
                          "value": "PILLAY"
                        },
                        "firstName": {
                          "validated": true,
                          "value": "LAVEN"
                        }
                      },
                      "validationMessages": ""
                    },
                    "parentId": null,
                    "status": "found",
                    "reason": null,
                    "dataValidation": true,
                    "selfieValidation": false,
                    "firstName": "LAVEN",
                    "lastName": "PILLAY",
                    "isSmartCardIssued": "Yes",
                    "idIssueDate": "20150708",
                    "idSequenceNumber": "1",
                    "deceasedStatus": "alive",
                    "dateOfDeath": "",
                    "maritalStatus": "Single",
                    "dateOfMarriage": "",
                    "onHANIS": "yes",
                    "onNPR": "yes",
                    "countryOfBirth": "South Africa",
                    "hanisReference": "2305105157920",
                    "isConsent": true,
                    "businessId": "628b38f03ae28a14f52d4bf7",
                    "image": "data:image/jpeg;base64,{{Base64String}}",
                    "type": "zaSAID",
                    "allValidationPassed": true,
                    "requestedAt": "2023-05-10T16:35:36.420Z",
                    "requestedById": "628b38f03ae28a5a122d4bf3",
                    "country": "ZA",
                    "createdAt": "2023-05-10T16:35:36.821Z",
                    "lastModifiedAt": "2023-05-10T16:35:36.821Z",
                    "metadata": {},
                    "requestedBy": {
                      "firstName": "API",
                      "lastName": "User",
                      "middleName": "",
                      "id": "628b38f03ae28a5a122d4bf3"
                    }
                  },
                  "links": []
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "message": "You have attempted to get a resource that does not exist.",
                  "name": "ResourceNotFoundError",
                  "data": {}
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/Error429TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/Error500ServerError"
          },
          "402": {
            "$ref": "#/components/responses/Error402PaymentRequired"
          }
        }
      }
    },
    "/v2/api/identity/za/phone": {
      "post": {
        "tags": [
          "KYC - South Africa"
        ],
        "summary": "Verify South African Phone Number",
        "description": "Verifies that a provided South African phone number exists in the database and retrieves associated information.",
        "operationId": "verifyPhoneNumberSouthAfrica",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API secret token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phoneNumber": {
                    "type": "string",
                    "description": "User's phone Number"
                  },
                  "phoneCountryCode": {
                    "type": "string",
                    "description": "User's phone number country code"
                  },
                  "isSubjectConsent": {
                    "type": "boolean",
                    "description": "Indicate subject has given consent. Must be true"
                  }
                },
                "required": [
                  "phoneNumber",
                  "phoneCountryCode",
                  "isSubjectConsent"
                ]
              },
              "example": {
                "phoneNumber": "821112110",
                "phoneCountryCode": "+27",
                "isSubjectConsent": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "success",
                  "data": {
                    "id": "645bca00d80de606cd7e5acf",
                    "parentId": null,
                    "status": "found",
                    "reason": null,
                    "dataValidation": false,
                    "selfieValidation": false,
                    "phoneCountryCode": "27",
                    "mobile": "+27821112110",
                    "phoneNumber": "821112110",
                    "phoneTypeCode": "2",
                    "phoneTypeDescription": "MOBILE",
                    "phoneCity": "Countrywide",
                    "phoneState": null,
                    "phoneZip": null,
                    "phoneCounty": null,
                    "phoneCountry": "South Africa",
                    "phoneCountryCodeISO2": "ZA",
                    "phoneCountryCodeISO3": "ZAF",
                    "carrier": "Vodacom SA",
                    "isPhoneBlocked": false,
                    "phoneBlockCode": "0",
                    "phoneBlockDescription": "Not blocked",
                    "phoneRiskLevel": "medium-low",
                    "phoneRiskScore": "300",
                    "phoneRiskRecommendation": null,
                    "isBlacklistedCountryCode": "NA",
                    "isBlackListedPhoneNumber": "NA",
                    "isBlackListedPhoneType": "NA",
                    "isPhoneNumberValid": true,
                    "phoneRiskOutcome": "Medium",
                    "isConsent": true,
                    "idNumber": "821112110",
                    "businessId": "628b38f03ae28a14f52d4bf7",
                    "type": "zaPhone",
                    "allValidationPassed": true,
                    "requestedAt": "2023-05-10T16:44:56.417Z",
                    "requestedById": "628b38f13ae28a7b742d4bf9",
                    "country": "ZA",
                    "createdAt": "2023-05-10T16:44:56.822Z",
                    "lastModifiedAt": "2023-05-10T16:44:56.822Z",
                    "metadata": {},
                    "requestedBy": {
                      "firstName": "Onyeka",
                      "lastName": "Ijeh",
                      "middleName": "",
                      "id": "628b38f13ae28a7b742d4bf9"
                    }
                  },
                  "links": []
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "message": "You have attempted to get a resource that does not exist.",
                  "name": "ResourceNotFoundError",
                  "data": {}
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/Error429TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/Error500ServerError"
          },
          "402": {
            "$ref": "#/components/responses/Error402PaymentRequired"
          }
        }
      }
    },
    "/v2/api/identity/za/bav": {
      "post": {
        "tags": [
          "KYC - South Africa"
        ],
        "summary": "Bank Account Verification",
        "description": "Verifies client bank account numbers for South African banks, validating account details against identity information.",
        "operationId": "bankAccountVerificationSouthAfrica",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API secret token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "User's identity number"
                  },
                  "isSubjectConsent": {
                    "type": "boolean",
                    "description": "Indicate subject has given consent. Must be true"
                  },
                  "accountDetails": {
                    "type": "object",
                    "description": "Container for account information",
                    "properties": {
                      "bankBranchCode": {
                        "type": "string",
                        "description": "Account bank branch code"
                      },
                      "bank": {
                        "type": "string",
                        "description": "Account bank"
                      },
                      "accountNumber": {
                        "type": "string",
                        "description": "Account number"
                      },
                      "accountType": {
                        "type": "string",
                        "description": "Account Type"
                      }
                    },
                    "required": [
                      "bankBranchCode",
                      "accountNumber",
                      "accountType"
                    ]
                  },
                  "validations": {
                    "type": "object",
                    "description": "Validation object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "description": "Validation data object",
                        "properties": {
                          "lastName": {
                            "type": "string",
                            "description": "Last name to compare against ID"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "First name to compare against ID"
                          },
                          "middleName": {
                            "type": "string",
                            "description": "Middle name to compare against ID"
                          },
                          "email": {
                            "type": "string",
                            "description": "Email to compare against ID"
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "Phone number to compare against ID"
                          }
                        }
                      }
                    }
                  }
                },
                "required": [
                  "id",
                  "isSubjectConsent",
                  "accountDetails"
                ]
              },
              "example": {
                "validations": {
                  "data": {
                    "firstName": "CONCO",
                    "middleName": "",
                    "lastName": "",
                    "email": "email@email.com",
                    "phoneNumber": "0795030317"
                  }
                },
                "accountDetails": {
                  "bankBranchCode": "470010",
                  "bank": "",
                  "accountNumber": "1443535328",
                  "accountType": "Savings"
                },
                "id": "8203170496089",
                "isSubjectConsent": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "success",
                  "data": {
                    "id": "645bca7cd80de606cd7e5ad3",
                    "validations": {
                      "data": {
                        "phoneNumber": {
                          "validated": false,
                          "value": "0795030317"
                        },
                        "fullName": {
                          "validated": true,
                          "value": "CONCO"
                        },
                        "email": {
                          "validated": false,
                          "value": "bonisiwez466@gmail.com"
                        }
                      },
                      "validationMessages": "Email does not match, Phone Number does not match"
                    },
                    "parentId": null,
                    "status": "found",
                    "reason": null,
                    "dataValidation": true,
                    "identityNumberValid": "No",
                    "accountTypeValid": "Yes",
                    "accountStatus": "Open",
                    "acceptsDebits": "Yes",
                    "acceptsCredits": "Yes",
                    "accountNumberValid": "Yes",
                    "bavRiskOutcome": "Low",
                    "isConsent": true,
                    "accountNumber": "1443535328",
                    "idNumber": "8203170496089",
                    "businessId": "628b38f03ae28a14f52d4bf7",
                    "type": "zaBAV",
                    "allValidationPassed": false,
                    "requestedAt": "2023-05-10T16:47:20.552Z",
                    "requestedById": "628b38f13ae28a7b742d4bf9",
                    "country": "ZA",
                    "createdAt": "2023-05-10T16:47:20.938Z",
                    "lastModifiedAt": "2023-05-10T16:47:20.938Z",
                    "metadata": {},
                    "requestedBy": {
                      "firstName": "Onyeka",
                      "lastName": "Ijeh",
                      "middleName": "",
                      "id": "628b38f13ae28a7b742d4bf9"
                    }
                  },
                  "links": []
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "message": "You have attempted to get a resource that does not exist.",
                  "name": "ResourceNotFoundError",
                  "data": {}
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/Error429TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/Error500ServerError"
          },
          "402": {
            "$ref": "#/components/responses/Error402PaymentRequired"
          }
        }
      }
    },
    "/v2/api/identity/za/poa": {
      "post": {
        "tags": [
          "KYC - South Africa"
        ],
        "summary": "Proof of Address Verification",
        "description": "Verifies a client's proof of address in South Africa by validating identity information against submitted address documentation.",
        "operationId": "proofOfAddressVerificationSouthAfrica",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API secret token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "User's identity number"
                  },
                  "idType": {
                    "type": "string",
                    "description": "Candidate's ID type"
                  },
                  "isSubjectConsent": {
                    "type": "boolean",
                    "description": "Must be true"
                  },
                  "personalInformation": {
                    "type": "object",
                    "description": "Personal information for the candidate",
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "description": "First name"
                      },
                      "lastName": {
                        "type": "string",
                        "description": "Last name"
                      },
                      "gender": {
                        "type": "string",
                        "description": "Gender"
                      },
                      "email": {
                        "type": "string",
                        "description": "Email address"
                      }
                    }
                  },
                  "addressDetails": {
                    "type": "object",
                    "description": "Address and property information",
                    "properties": {
                      "proofOfAddressImage": {
                        "type": "string",
                        "description": "Base64-encoded proof of address image"
                      },
                      "imageName": {
                        "type": "string",
                        "description": "Name of the uploaded image"
                      },
                      "address1": {
                        "type": "string",
                        "description": "Address line 1"
                      },
                      "address2": {
                        "type": "string",
                        "description": "Address line 2"
                      },
                      "suburb": {
                        "type": "string",
                        "description": "Suburban area"
                      },
                      "houseNumber": {
                        "type": "string",
                        "description": "House number"
                      },
                      "street": {
                        "type": "string",
                        "description": "Street name"
                      },
                      "buildingName": {
                        "type": "string",
                        "description": "Building name"
                      },
                      "unitName": {
                        "type": "string",
                        "description": "Unit name"
                      },
                      "province": {
                        "type": "string",
                        "description": "Candidate's province"
                      },
                      "city": {
                        "type": "string",
                        "description": "Candidate's city"
                      },
                      "postalCode": {
                        "type": "string",
                        "description": "Postal code"
                      },
                      "stateCode": {
                        "type": "string",
                        "description": "City/state code"
                      },
                      "duration": {
                        "type": "string",
                        "description": "Duration of stay"
                      },
                      "propertyType": {
                        "type": "string",
                        "description": "Property type"
                      },
                      "country": {
                        "type": "string",
                        "description": "Candidate's country"
                      }
                    }
                  }
                },
                "required": [
                  "id",
                  "idType",
                  "isSubjectConsent",
                  "personalInformation",
                  "addressDetails"
                ]
              },
              "example": {
                "personalInformation": {
                  "firstName": "JONAH",
                  "lastName": "PILLAY",
                  "gender": "M",
                  "email": "XXXXX@XXXXX.com"
                },
                "addressDetails": {
                  "proofOfAddressImage": "{{Base64String}}",
                  "imageName": "image.jp",
                  "address1": "Body Corporate of Cohiba",
                  "address2": "Stand NO: 433",
                  "suburb": "Radiokop",
                  "houseNumber": "1",
                  "street": "2",
                  "buildingName": "2",
                  "unitName": "2",
                  "province": "2",
                  "city": "Radiokop",
                  "postalCode": "1752",
                  "stateCode": "GP",
                  "duration": "13",
                  "propertyType": "O  ",
                  "country": "ZA"
                },
                "id": "2502161858090",
                "idType": "SAID",
                "isSubjectConsent": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "success",
                  "data": {
                    "id": "64cc3994d0ae9481b885e518",
                    "parentId": null,
                    "status": "found",
                    "reason": null,
                    "businessId": "62c2a4868d319373a6280152",
                    "requestedAt": "2023-08-03T23:34:44.712Z",
                    "requestedById": "62c2a4868d3193700828014e",
                    "country": "ZA",
                    "type": "zaPOA",
                    "riskOutcome": "High",
                    "isConsent": true,
                    "metadata": {},
                    "personalInformation": {
                      "firstName": "JONAH",
                      "lastName": "PILLAY",
                      "gender": "M",
                      "email": "XXXXX@XXXXX.com"
                    },
                    "addressDetails": {
                      "proofOfAddressImage": "{{Base64String}}",
                      "imageName": "image.jp",
                      "address1": "Body Corporate of Cohiba",
                      "address2": "Stand NO: 433",
                      "suburb": "Radiokop",
                      "houseNumber": "1",
                      "street": "2",
                      "buildingName": "2",
                      "unitName": "2",
                      "province": "2",
                      "city": "Radiokop",
                      "postalCode": "1752",
                      "stateCode": "GP",
                      "duration": "13",
                      "propertyType": "O  ",
                      "country": "ZA"
                    },
                    "requestedBy": {
                      "firstName": "API",
                      "lastName": "User",
                      "middleName": "",
                      "id": "62c2a4868d3193700828014e"
                    }
                  },
                  "links": []
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "message": "You have attempted to get a resource that does not exist.",
                  "name": "ResourceNotFoundError",
                  "data": {}
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/Error429TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/Error500ServerError"
          },
          "402": {
            "$ref": "#/components/responses/Error402PaymentRequired"
          }
        }
      }
    },
    "/v2/api/identity/ke/passport": {
      "post": {
        "tags": [
          "KYC - Kenya"
        ],
        "summary": "Verify International Passport",
        "description": "Verifies Kenyan International Passports, including facial matching and data validation against government database records.",
        "operationId": "verifyInternationalPassportKenya",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API secret token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Candidate's passport number"
                  },
                  "isSubjectConsent": {
                    "type": "boolean",
                    "description": "Indicate subject has given consent. Must be true"
                  },
                  "validations": {
                    "type": "object",
                    "description": "Validation object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "description": "Validation data object",
                        "properties": {
                          "lastName": {
                            "type": "string",
                            "description": "Last name to compare against ID"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "First name to compare against ID"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "description": "Date of birth to compare against ID"
                          }
                        }
                      },
                      "selfie": {
                        "type": "object",
                        "description": "Selfie validation object",
                        "properties": {
                          "image": {
                            "type": "string",
                            "description": "Base64 or URL of selfie image"
                          }
                        }
                      }
                    }
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Any valid object can be passed here. It gets returned as is."
                  }
                },
                "required": [
                  "id",
                  "isSubjectConsent"
                ]
              },
              "example": {
                "id": "AK1367466",
                "metadata": {
                  "requestId": "1209348756"
                },
                "isSubjectConsent": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "success",
                  "data": {
                    "id": "62b511caf1d35a61f7ba4de6",
                    "parentId": null,
                    "status": "found",
                    "reason": null,
                    "dataValidation": false,
                    "selfieValidation": false,
                    "firstName": "KARBOH",
                    "middleName": null,
                    "lastName": "ZEBOCK",
                    "fullName": "KARBOH ZEBOCK",
                    "image": null,
                    "nationality": "KENYAN",
                    "dateOfBirth": null,
                    "isConsent": true,
                    "idNumber": "AK0167656",
                    "businessId": "6222a5ea3e7a41c29c030fac",
                    "type": "kePassport",
                    "gender": "male",
                    "requestedAt": "2022-06-24T01:22:18.710Z",
                    "requestedById": "6222a5ea3e7a41c29c030fad",
                    "country": "KE",
                    "createdAt": "2022-06-24T01:22:18.728Z",
                    "lastModifiedAt": "2022-06-24T01:22:18.728Z",
                    "requestedBy": {
                      "firstName": "API",
                      "lastName": "User",
                      "middleName": "",
                      "id": "6222a5ea3e7a41c29c030fad"
                    }
                  },
                  "links": []
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "message": "You have attempted to get a resource that does not exist.",
                  "name": "ResourceNotFoundError",
                  "data": {}
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/Error429TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/Error500ServerError"
          },
          "402": {
            "$ref": "#/components/responses/Error402PaymentRequired"
          }
        }
      }
    },
    "/v2/api/identity/ke/alien-id": {
      "post": {
        "tags": [
          "KYC - Kenya"
        ],
        "summary": "Verify Alien ID",
        "description": "Verifies a Kenya alien ID number and retrieves associated identity information.",
        "operationId": "verifyAlienIdKenya",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API secret token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Candidate's alien ID number"
                  },
                  "isSubjectConsent": {
                    "type": "boolean",
                    "description": "Indicate subject has given consent. Must be true"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "111111111",
                "isSubjectConsent": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "success",
                  "data": {
                    "id": "66ec6bb1d0bdbb9c4fce6122",
                    "parentId": null,
                    "status": "found",
                    "reason": null,
                    "dataValidation": false,
                    "selfieValidation": false,
                    "firstName": "AMANI",
                    "middleName": "DIEUDONNE",
                    "lastName": "UWAYO",
                    "fullName": "UWAYO AMANI DIEUDONNE",
                    "image": null,
                    "idType": "id",
                    "nationality": "Alien",
                    "dateOfBirth": "1992-11-19",
                    "isConsent": true,
                    "idNumber": "111111111",
                    "businessId": "62b2e8b281442b03187f7896",
                    "type": "keAlienId",
                    "allValidationPassed": true,
                    "gender": "female",
                    "requestedAt": "2024-09-19T18:21:39.311Z",
                    "requestedById": "62b2e8b381442b75857f7898",
                    "country": "KE",
                    "createdAt": "2024-09-19T18:21:39.670Z",
                    "lastModifiedAt": "2024-09-19T18:21:39.670Z",
                    "adverseMediaReport": null,
                    "amlReport": null,
                    "metadata": {},
                    "requestedBy": {
                      "firstName": "Abdulazeez",
                      "lastName": "Shittu",
                      "middleName": "",
                      "id": "62b2e8b381442b75857f7898"
                    }
                  },
                  "links": []
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "message": "You have attempted to get a resource that does not exist.",
                  "name": "ResourceNotFoundError",
                  "data": {}
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/Error429TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/Error500ServerError"
          },
          "402": {
            "$ref": "#/components/responses/Error402PaymentRequired"
          }
        }
      }
    },
    "/v2/api/identity/ke/drivers-license": {
      "post": {
        "tags": [
          "KYC - Kenya"
        ],
        "summary": "Verify Drivers License",
        "description": "Verifies a Kenya drivers license and returns associated identity data including personal information, license details, and validation status.",
        "operationId": "verifyDriversLicenseKenya",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API secret token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Candidate's drivers license number"
                  },
                  "isSubjectConsent": {
                    "type": "boolean",
                    "description": "Indicate subject has given consent. Must be true"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "111111111",
                "isSubjectConsent": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "success",
                  "data": {
                    "id": "66ec6c0bb62925a49d7991f9",
                    "parentId": null,
                    "status": "found",
                    "reason": null,
                    "dataValidation": false,
                    "selfieValidation": false,
                    "nationalId": "38039808",
                    "fullName": "SILVERSTEIN MWANGANGI KYALO",
                    "address": {
                      "city": "Nairobi",
                      "town": null,
                      "lga": null,
                      "state": null,
                      "addressLine": "Langata"
                    },
                    "issuedDate": "2021-01-27T00:00:00.000Z",
                    "expiredDate": "2024-09-02T00:00:00.000Z",
                    "mobile": "254740364279",
                    "kra": "A015194601C",
                    "dateOfBirth": "10-Apr-00",
                    "isConsent": true,
                    "idNumber": "111111111",
                    "businessId": "62b2e8b281442b03187f7896",
                    "classOfLicense": "B",
                    "interimNumber": "IDL-698600",
                    "licenseNumber": "DL-1164090",
                    "bloodGroup": "UNKNOWN",
                    "email": "1@gmail.com",
                    "smartDlDetails": {
                      "hasSmartDl": "Waiting to Pay Interim",
                      "smartDlBookingTestCenter": "146",
                      "smartDLBookingStatus": "BOOKED",
                      "smartDlBookingDate": "02-May-21",
                      "smartDlBookingStartDate": "02-May-21"
                    },
                    "allValidationPassed": true,
                    "gender": "male",
                    "type": "keDriversLicense",
                    "requestedAt": "2024-09-19T18:23:09.514Z",
                    "requestedById": "62b2e8b381442b75857f7898",
                    "country": "KE",
                    "createdAt": "2024-09-19T18:23:10.018Z",
                    "lastModifiedAt": "2024-09-19T18:23:10.018Z",
                    "adverseMediaReport": null,
                    "amlReport": null,
                    "metadata": {},
                    "requestedBy": {
                      "firstName": "Abdulazeez",
                      "lastName": "Shittu",
                      "middleName": "",
                      "id": "62b2e8b381442b75857f7898"
                    }
                  },
                  "links": []
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "message": "You have attempted to get a resource that does not exist.",
                  "name": "ResourceNotFoundError",
                  "data": {}
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/Error429TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/Error500ServerError"
          },
          "402": {
            "$ref": "#/components/responses/Error402PaymentRequired"
          }
        }
      }
    },
    "/v2/api/identity/ke/national-id": {
      "post": {
        "tags": [
          "KYC - Kenya"
        ],
        "summary": "Verify National ID",
        "description": "Verifies a candidate's Kenyan national ID and matches it against provided personal data.",
        "operationId": "verifyNationalIdKenya",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API secret token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Candidate's national id number"
                  },
                  "isSubjectConsent": {
                    "type": "boolean",
                    "description": "Indicate subject has given consent. Must be true"
                  },
                  "validations": {
                    "type": "object",
                    "description": "Validation object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "description": "Validation data object",
                        "properties": {
                          "lastName": {
                            "type": "string",
                            "description": "Last name to compare against ID"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "First name to compare against ID"
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "description": "Date of birth to compare against ID"
                          }
                        }
                      }
                    }
                  }
                },
                "required": [
                  "id",
                  "isSubjectConsent"
                ]
              },
              "example": {
                "id": "2383526090",
                "isSubjectConsent": true,
                "validations": {
                  "data": {
                    "lastName": "KWAMBOKA",
                    "firstName": "OMISO",
                    "dateOfBirth": "1995-12-30"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "success",
                  "data": {
                    "id": "66ec6c0bb62925a49d7991f9",
                    "parentId": null,
                    "status": "found",
                    "reason": null,
                    "dataValidation": false,
                    "selfieValidation": false,
                    "nationalId": "38039808",
                    "fullName": "SILVERSTEIN MWANGANGI KYALO",
                    "address": {
                      "city": "Nairobi",
                      "town": null,
                      "lga": null,
                      "state": null,
                      "addressLine": "Langata"
                    },
                    "issuedDate": "2021-01-27T00:00:00.000Z",
                    "expiredDate": "2024-09-02T00:00:00.000Z",
                    "mobile": "254740364279",
                    "kra": "A015194601C",
                    "dateOfBirth": "10-Apr-00",
                    "isConsent": true,
                    "idNumber": "111111111",
                    "businessId": "62b2e8b281442b03187f7896",
                    "allValidationPassed": true,
                    "gender": "male",
                    "type": "keNationalId",
                    "requestedAt": "2024-09-19T18:23:09.514Z",
                    "requestedById": "62b2e8b381442b75857f7898",
                    "country": "KE",
                    "createdAt": "2024-09-19T18:23:10.018Z",
                    "lastModifiedAt": "2024-09-19T18:23:10.018Z",
                    "adverseMediaReport": null,
                    "amlReport": null,
                    "metadata": {},
                    "requestedBy": {
                      "firstName": "Abdulazeez",
                      "lastName": "Shittu",
                      "middleName": "",
                      "id": "62b2e8b381442b75857f7898"
                    }
                  },
                  "links": []
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "message": "You have attempted to get a resource that does not exist.",
                  "name": "ResourceNotFoundError",
                  "data": {}
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/Error429TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/Error500ServerError"
          },
          "402": {
            "$ref": "#/components/responses/Error402PaymentRequired"
          }
        }
      }
    },
    "/v2/api/identity/ke/plate-number": {
      "post": {
        "tags": [
          "KYC - Kenya"
        ],
        "summary": "Verify Plate Number",
        "description": "Verifies a Kenya vehicle plate number and retrieves associated vehicle and owner information.",
        "operationId": "verifyPlateNumberKenya",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API secret token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Vehicle plate number"
                  },
                  "isSubjectConsent": {
                    "type": "boolean",
                    "description": "Indicate subject has given consent. Must be true"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "KDP250G",
                "isSubjectConsent": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "success",
                  "data": {
                    "id": "67372bc090c32dd15c5b55a0",
                    "parentId": null,
                    "status": "found",
                    "reason": null,
                    "dataValidation": false,
                    "selfieValidation": false,
                    "isConsent": true,
                    "idNumber": "KDP250G",
                    "plateNumber": "KDP250G",
                    "vehicle": {
                      "chassisNumber": "WAUZZZF51HA013315",
                      "bodyColor": "WHITE",
                      "bodyType": "SALOON",
                      "make": "AUDI",
                      "model": "A5",
                      "dutyAmount": "1205161",
                      "dutyDate": "",
                      "dutyStatus": "PAID",
                      "engineCapacity": "1980",
                      "engineNumber": "CYR - 030985",
                      "fuelType": "NA",
                      "grossWeight": "1885",
                      "passengerCapacity": "5",
                      "purpose": "PRIVATE",
                      "registrationStatus": "registered",
                      "registrationDate": "2024-02-01",
                      "tareWeight": "1610",
                      "vehicleType": "MOTOR VEHICLE",
                      "yearOfManufacture": "2017",
                      "logbook": {
                        "number": "202402017219607",
                        "serialNumber": "N6616614R"
                      },
                      "entry": {
                        "cpc": "NA",
                        "importerPin": "REGISTERED",
                        "number": "24MBAIM400448715"
                      }
                    },
                    "owner": {
                      "firstName": "EMMANUEL ODONGO OCHUNG",
                      "middleName": "",
                      "lastName": "",
                      "idNumber": "25409483",
                      "ownerType": "COMPANY",
                      "pin": "A006813210H",
                      "phone": "0723683398",
                      "address": {
                        "postalCode": "00100",
                        "postalAddress": "75351",
                        "town": "NAIROBI"
                      }
                    },
                    "businessId": "628b38f03ae28a14f52d4bf7",
                    "type": "kePlateNumber",
                    "allValidationPassed": true,
                    "requestedAt": "2024-11-15T11:08:50.538Z",
                    "requestedById": "628b38f03ae28a5a122d4bf3",
                    "country": "KE",
                    "createdAt": "2024-11-15T11:08:50.704Z",
                    "lastModifiedAt": "2024-11-15T11:08:50.704Z",
                    "adverseMediaReport": null,
                    "amlReport": null,
                    "metadata": {},
                    "requestedBy": {
                      "firstName": "API",
                      "lastName": "User",
                      "middleName": "",
                      "id": "628b38f03ae28a5a122d4bf3"
                    }
                  },
                  "links": []
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "message": "You have attempted to get a resource that does not exist.",
                  "name": "ResourceNotFoundError",
                  "data": {}
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/Error429TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/Error500ServerError"
          },
          "402": {
            "$ref": "#/components/responses/Error402PaymentRequired"
          }
        }
      }
    },
    "/v2/api/identity/ke/vehicle-collateral": {
      "post": {
        "tags": [
          "KYC - Kenya"
        ],
        "summary": "Verify Collateral ID",
        "description": "Verifies vehicle collateral information registered in Kenya's collateral registry by matching a provided collateral ID.",
        "operationId": "verifyCollateralIdKenya",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API secret token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Vehicle collateral ID"
                  },
                  "isSubjectConsent": {
                    "type": "boolean",
                    "description": "Indicate subject has given consent. Must be true"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "111111111",
                "isSubjectConsent": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "success",
                  "data": {
                    "id": "673735007321cb432ace4a64",
                    "parentId": null,
                    "status": "found",
                    "reason": null,
                    "dataValidation": false,
                    "selfieValidation": false,
                    "isConsent": true,
                    "idNumber": "111111111",
                    "collaterals": [
                      {
                        "description": "Make HONDA , FIT\r\n       Reg No. : KDN892V\r\n       Chassis No.: GP5-1225288\r\n                Engine No.: LEB-H1-1329619\r\n",
                        "serialNo": "GP5-1225288",
                        "type": "motor_vehicle"
                      }
                    ],
                    "creditors": [
                      {
                        "categoryOfSecuredCreditor": "consensual",
                        "name": "NCBA BANK KENYA PLC",
                        "type": "local_company"
                      }
                    ],
                    "currencyAmounts": [
                      {
                        "amount": "1133890.29",
                        "currency": "KES"
                      }
                    ],
                    "businessId": "628b38f03ae28a14f52d4bf7",
                    "type": "keVehicleCollateral",
                    "allValidationPassed": true,
                    "requestedAt": "2024-11-15T11:48:19.615Z",
                    "requestedById": "628b38f03ae28a5a122d4bf3",
                    "country": "KE",
                    "createdAt": "2024-11-15T11:48:19.757Z",
                    "lastModifiedAt": "2024-11-15T11:48:19.757Z",
                    "adverseMediaReport": null,
                    "amlReport": null,
                    "metadata": {},
                    "requestedBy": {
                      "firstName": "API",
                      "lastName": "User",
                      "middleName": "",
                      "id": "628b38f03ae28a5a122d4bf3"
                    }
                  },
                  "links": []
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "message": "You have attempted to get a resource that does not exist.",
                  "name": "ResourceNotFoundError",
                  "data": {}
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/Error429TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/Error500ServerError"
          },
          "402": {
            "$ref": "#/components/responses/Error402PaymentRequired"
          }
        }
      }
    },
    "/v2/api/identity/ke/bav": {
      "post": {
        "tags": [
          "KYC - Kenya"
        ],
        "summary": "Kenyan Bank Account Verification",
        "description": "Verifies a Kenyan bank account by validating the account number against bank records and retrieving associated account holder details.",
        "operationId": "bankAccountVerificationKenya",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API secret token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountNumber": {
                    "type": "string",
                    "description": "Candidate's bank account number"
                  },
                  "bankId": {
                    "type": "string",
                    "description": "Bank ID number (see Bank List endpoint)"
                  },
                  "isSubjectConsent": {
                    "type": "boolean",
                    "description": "Indicate subject has given consent. Must be true"
                  }
                },
                "required": [
                  "accountNumber",
                  "isSubjectConsent"
                ]
              },
              "example": {
                "bankId": "1",
                "accountNumber": "111111111",
                "isSubjectConsent": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "success",
                  "data": {
                    "id": "66ec6b61af44fb8a5574feb2",
                    "parentId": null,
                    "status": "found",
                    "reason": null,
                    "dataValidation": false,
                    "selfieValidation": false,
                    "isConsent": true,
                    "idNumber": "111111111",
                    "businessId": "62b2e8b281442b03187f7896",
                    "bankCode": "1",
                    "bankDetails": {
                      "accountName": "Mocking Bird Limited",
                      "accountNumber": "111111111",
                      "bankName": "KCB"
                    },
                    "type": "keBAV",
                    "allValidationPassed": true,
                    "requestedAt": "2024-09-19T18:20:20.427Z",
                    "requestedById": "62b2e8b381442b75857f7898",
                    "country": "KE",
                    "createdAt": "2024-09-19T18:20:20.800Z",
                    "lastModifiedAt": "2024-09-19T18:20:20.800Z",
                    "adverseMediaReport": null,
                    "amlReport": null,
                    "metadata": {},
                    "requestedBy": {
                      "firstName": "Abdulazeez",
                      "lastName": "Shittu",
                      "middleName": "",
                      "id": "62b2e8b381442b75857f7898"
                    }
                  },
                  "links": []
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "message": "You have attempted to get a resource that does not exist.",
                  "name": "ResourceNotFoundError",
                  "data": {}
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/Error429TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/Error500ServerError"
          },
          "402": {
            "$ref": "#/components/responses/Error402PaymentRequired"
          }
        }
      }
    },
    "/v2/api/identity/ke/banks": {
      "get": {
        "tags": [
          "KYC - Kenya"
        ],
        "summary": "Bank List",
        "description": "Retrieves the list of Kenyan banks (with their bank IDs) used for Kenyan Bank Account Verification.",
        "operationId": "bankListKenya",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API secret token"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "success",
                  "data": [
                    {
                      "id": "1",
                      "name": "KCB"
                    },
                    {
                      "id": "2",
                      "name": "Standard Chartered Bank"
                    },
                    {
                      "id": "3",
                      "name": "Absa Bank"
                    }
                  ],
                  "links": []
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "message": "You have attempted to get a resource that does not exist.",
                  "name": "ResourceNotFoundError",
                  "data": {}
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/Error429TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/Error500ServerError"
          }
        }
      }
    },
    "/v2/verifications/identity/ke/credit-history": {
      "post": {
        "tags": [
          "KYC - Kenya"
        ],
        "summary": "Credit History",
        "description": "Verifies credit history information for individuals in Kenya using their national ID or passport number, returning credit contract and inquiry data.",
        "operationId": "creditHistoryKenya",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API secret token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Candidate's identity number"
                  },
                  "idType": {
                    "type": "string",
                    "description": "Identity number type",
                    "enum": [
                      "national-id",
                      "passport"
                    ]
                  },
                  "isSubjectConsent": {
                    "type": "boolean",
                    "description": "Indicate subject has given consent. Must be true"
                  }
                },
                "required": [
                  "id",
                  "idType",
                  "isSubjectConsent"
                ]
              },
              "example": {
                "id": "1234567",
                "idType": "national-id",
                "isSubjectConsent": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "success",
                  "data": {
                    "id": "64eed55d89002f8e454bdce2",
                    "parentId": null,
                    "status": "found",
                    "reason": null,
                    "dataValidation": false,
                    "selfieValidation": false,
                    "dateOfBirth": "1999-12-31T21:00:00Z",
                    "identityType": "national-id",
                    "isConsent": true,
                    "idNumber": "1234567",
                    "businessId": "628b38f03ae28a14f52d4bf7",
                    "firstName": "Kangethe",
                    "middleName": "Kariuki",
                    "lastName": "Simon",
                    "fullName": "Kangethe Kariuki  Simon",
                    "gender": "Male",
                    "maritalStatus": "Married",
                    "contractSummary": {
                      "closedContracts": "2",
                      "openContracts": "10"
                    },
                    "inquiries": {
                      "numberOfInquiriesLast12Months": "89",
                      "numberOfInquiriesLast1Month": "6",
                      "numberOfInquiriesLast24Months": "355",
                      "numberOfInquiriesLast3Months": "12",
                      "numberOfInquiriesLast6Months": "27"
                    },
                    "type": "keCreditHistory",
                    "allValidationPassed": true,
                    "requestedAt": "2023-08-30T05:36:30.407Z",
                    "requestedById": "628b38f03ae28a5a122d4bf3",
                    "country": "KE",
                    "createdAt": "2023-08-30T05:36:30.593Z",
                    "lastModifiedAt": "2023-08-30T05:36:30.593Z",
                    "metadata": {},
                    "requestedBy": {
                      "firstName": "API",
                      "lastName": "User",
                      "middleName": "",
                      "id": "628b38f03ae28a5a122d4bf3"
                    }
                  },
                  "links": []
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "message": "You have attempted to get a resource that does not exist.",
                  "name": "ResourceNotFoundError",
                  "data": {}
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/Error429TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/Error500ServerError"
          },
          "402": {
            "$ref": "#/components/responses/Error402PaymentRequired"
          }
        }
      }
    },
    "/v2/verifications/identity/ke/employment": {
      "post": {
        "tags": [
          "KYC - Kenya"
        ],
        "summary": "Employment History",
        "description": "Verifies employment history for individuals in Kenya using their national ID or passport.",
        "operationId": "employmentHistoryKenya",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API secret token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Candidate's identity number"
                  },
                  "idType": {
                    "type": "string",
                    "description": "Identity number type",
                    "enum": [
                      "national-id",
                      "passport"
                    ]
                  },
                  "isSubjectConsent": {
                    "type": "boolean",
                    "description": "Indicate subject has given consent. Must be true"
                  }
                },
                "required": [
                  "id",
                  "idType",
                  "isSubjectConsent"
                ]
              },
              "example": {
                "id": "1234567",
                "idType": "national-id",
                "isSubjectConsent": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "success",
                  "data": {
                    "id": "64ec17eec79f7a16971c65bc",
                    "parentId": null,
                    "status": "found",
                    "reason": null,
                    "dataValidation": false,
                    "selfieValidation": false,
                    "dateOfBirth": "1999-12-31T21:00:00Z",
                    "identityType": "national-id",
                    "isConsent": true,
                    "idNumber": "1234567",
                    "businessId": "628b38f03ae28a14f52d4bf7",
                    "firstName": "Kangethe",
                    "middleName": "Kariuki",
                    "lastName": "Simon",
                    "fullName": "Kangethe Kariuki  Simon",
                    "gender": "Male",
                    "maritalStatus": "Married",
                    "employmentName": "Teachers Service Commission.",
                    "lastEmployment": "NotSpecified",
                    "type": "keCreditInfoEmployment",
                    "allValidationPassed": true,
                    "requestedAt": "2023-08-28T03:43:43.294Z",
                    "requestedById": "628b38f03ae28a5a122d4bf3",
                    "country": "KE",
                    "createdAt": "2023-08-28T03:43:43.489Z",
                    "lastModifiedAt": "2023-08-28T03:43:43.489Z",
                    "metadata": {},
                    "requestedBy": {
                      "firstName": "API",
                      "lastName": "User",
                      "middleName": "",
                      "id": "628b38f03ae28a5a122d4bf3"
                    }
                  },
                  "links": []
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "statusCode": 404,
                  "message": "You have attempted to get a resource that does not exist.",
                  "name": "ResourceNotFoundError",
                  "data": {}
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/Error429TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/Error500ServerError"
          },
          "402": {
            "$ref": "#/components/responses/Error402PaymentRequired"
          }
        }
      }
    },
    "/v2/api/identity/ke/address": {
      "post": {
        "tags": [
          "KYC - Kenya"
        ],
        "summary": "Verify Address Information",
        "description": "Retrieves addressing information for a provided Kenyan National ID or Passport number.",
        "operationId": "verifyAddressInformationKenya",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API secret token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Candidate's identity number"
                  },
                  "idType": {
                    "type": "string",
                    "description": "Identity number type",
                    "enum": [
                      "national-id",
                      "passport"
                    ]
                  },
                  "isSubjectConsent": {
                    "type": "boolean",
                    "description": "Indicate subject has given consent. Must be true"
                  }
                },
                "required": [
                  "id",
                  "idType",
                  "isSubjectConsent"
                ]
              },
              "example": {
                "id": "1234567",
                "idType": "national-id",
                "isSubjectConsent": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "statusCode": 200,
                  "message": "success",
                  "data": {
                    "id": "64f843f1304e30c0c965dc2f",
                    "parentId": null,
                    "status": "found",
                    "reason": null,
                    "dataValidation": false,
                    "selfieValidation": false,
                    "dateOfBirth": "1999-12-31",
                    "identityType": "national-id",
                    "isConsent": true,
                    "idNumber": "1234567",
                    "businessId": "62c2a4868d319373a6280152",
                    "firstName": "Kangethe",
                    "middleName": "Kariuki",
                    "lastName": "Simon",
                    "fullName": "Kangethe Kariuki  Simon",
                    "gender": "Male",
                    "maritalStatus": "Married",
                    "mainAddress": {
                      "address": "NYAHURURU  KCC",
                      "country": "KE",
                      "town": "Nyahururu"
                    },
                    "secondaryAddress": {
                      "address": "NAKURU-CENTRE",
                      "country": "KE",
                      "town": "NYAHURURU",
                      "postalCode": "20300"
                    },
                    "type": "keCreditInfoAddress",
                    "allValidationPassed": true,
                    "requestedAt": "2023-09-06T09:18:41.706Z",
                    "requestedById": "62c2a4868d3193700828014e",
                    "country": "KE",
                    "createdAt": "2023-09-06T09:18:41.746Z",
                    "lastModifiedAt": "2023-09-06T09:18:41.746Z",
                    "metadata": {},
                    "requestedBy": {
                      "firstName": "API",
                      "lastName": "User",
                      "middleName": "",
                      "id": "62c2a4868d3193700828014e"
                    }
                  },
                  "links": []
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
[...]
